/*!
Template :	XIOM @by Softnio
Preset   :	Royal
Version	 :	1.0.0
Updated	 :	18.08.2018
*/
.navbar-toggler { background-color: #304ffe; }

.navbar-light .navbar-nav .nav-link:hover { color: #8207ff; }

.dropdown:hover .nav-link, .dropdown:focus .nav-link { color: #8207ff; }

.header-area-s2 .navbar-toggler, .header-area-s3 .navbar-toggler { background-color: #304ffe; }
.header-area-s2 .navbar-light .navbar-nav .nav-link:hover, .header-area-s3 .navbar-light .navbar-nav .nav-link:hover { color: #8207ff; }
.header-area-s2 .dropdown:hover .nav-link, .header-area-s2 .dropdown:focus .nav-link, .header-area-s3 .dropdown:hover .nav-link, .header-area-s3 .dropdown:focus .nav-link { color: #8207ff; }

.header-area-s2 .site-header.has-fixed .navbar { background-color: #16a2ff; }

.header-area-s3 .site-header.has-fixed .navbar { background-color: #16a2ff; }

.btn-menu { background-color: #304ffe; color: #fff; }
.btn-menu:hover { background-color: #8207ff; color: #fff; }

.btn-menu-2 { border: 2px solid #8207ff; background-color: transparent; color: #fff; }
.btn-menu-2:hover { background-color: transparent; color: #fff; border: 2px solid #9125ff; }

.aster-alter .header-content .btn-s2:hover { box-shadow: none; background-color: #9125ff; color: #fff; }

.btn-menu-3 { background-color: rgba(255, 255, 255, 0.1); }
.btn-menu-3:hover { background-color: #304ffe; color: #fff; }
.btn-menu-3:hover i { color: #fff; }

.btn-lg { color: #fff; background-color: #8207ff; box-shadow: 0px 25px 35px rgba(130, 7, 255, 0.3); }
.btn-lg:hover { background-color: #304ffe; box-shadow: 0px 25px 35px rgba(48, 79, 254, 0.3); }

.btn-lg-s3 { background: linear-gradient(to right, #8207ff, #a55eea); }
.btn-lg-s3 span { color: #fff; }
.btn-lg-s3:after { background: linear-gradient(to right, #a55eea, #8207ff); }

.header-area-s3 .btn-lg-s3 { transition: all .3s; background: #fff; }
.header-area-s3 .btn-lg-s3 span { color: #304ffe; }
.header-area-s3 .btn-lg-s3:after { background: #fff; }
.header-area-s3 .btn-lg-s3:hover { transform: translateY(-2px); }

.btn-link { color: #8207ff; border-bottom: 1px solid #8207ff; }
.btn-link:focus { color: #304ffe; }
.btn-link:hover { color: #304ffe; border-bottom: 1px solid #304ffe; }

.sec-heading h2::before { background-color: rgba(130, 7, 255, 0.2); }

.team-photo img { border: 8px solid #304ffe; }

.input-line { border-bottom: 1px solid #304ffe; }

.input-icon-s3 i { color: #8207ff; }

.pricing-box .pricing-title { border-bottom: 1px solid #8207ff; }

.active-box { background-color: #304ffe; }
.active-box .pricing-title { border-bottom: 1px solid #fff; }

.active-box-s2 { background: linear-gradient(to right, #304ffe, #16a2ff); }

.card-header .btn-link { color: #304ffe; }
.card-header .btn-link:hover { border-bottom: none; }

.card-header .btn-link span { color: #304ffe; }

.card-body { border-top: 1px solid #304ffe; }

.up-icon { background-color: #8207ff; box-shadow: 0px 15px 40px 0px rgba(130, 7, 255, 0.3); }
.up-icon:hover { background-color: #304ffe; box-shadow: 0px 15px 40px 0px rgba(48, 79, 254, 0.3); }

.social-icon { background-color: #8207ff; }
.social-icon a { color: #fff; }
.social-icon:hover { background-color: #304ffe; }
.social-icon:hover a { color: #fff; }

.footer-widget-s3 .social-icon { background-color: #8207ff; }
.footer-widget-s3 .social-icon:hover { background-color: #304ffe; }
.footer-widget-s3 .social-icon:hover a { color: #fff; }

.footer-text { border-top: 1px solid rgba(48, 79, 254, 0.3); }

.header-area::before { background: url(../images/shape-a.svg), linear-gradient(to bottom, rgba(48, 79, 254, 0.1), #f8fbff); background-repeat: no-repeat; background-size: cover; background-position: 100% 100%; }

.header-area-s2::before { background: url(../images/shape-e.svg), #304ffe; background-repeat: no-repeat; background-size: 100%; background-position: 100% 100%; }

.config-shape svg { background: linear-gradient(to right, rgba(48, 79, 254, 0.2), #f2f6ff); }

.feature-config::before { background: none; }

.feature::before { background: url(../images/shape-c.svg), linear-gradient(to bottom, rgba(48, 79, 254, 0.7), #f8fbff); background-repeat: no-repeat; background-size: 100%; }

.feature-s2::before { background: url(../images/shape-g.svg), linear-gradient(to bottom, rgba(48, 79, 254, 0.7), white); background-repeat: no-repeat; background-size: 100%; }

.team::before { background: url(../images/shape-c.svg), linear-gradient(to bottom, rgba(48, 79, 254, 0.7), #f8fbff); background-repeat: no-repeat; background-size: 100%; background-position: 50% 0; }

.footer-area::before { background: url(../images/shape-d.svg), linear-gradient(to bottom, rgba(48, 79, 254, 0.1), #f8fbff); background-repeat: no-repeat; background-size: 100%; }

.footer-area-s2::before { background: url(../images/shape-h.svg), linear-gradient(to bottom, rgba(48, 79, 254, 0.1), white); background-repeat: no-repeat; background-size: 100%; }

.tools-s3::before { background: #0e2acb; }

.why-xiom-s4::before { background: #0e2acb; }

.quick-access-icon { background: linear-gradient(to right, #304ffe, #16a2ff); }

.tools-icon-s3 { background: linear-gradient(to right, #304ffe, #16a2ff); }

.header-area-s3::before { background: url(../images/shape-i.svg), linear-gradient(to right, #304ffe 0%, #8207ff 100%); background-repeat: no-repeat; background-size: 100%; background-position: 100% 100%; }

.testimonial-client-s3 { background: linear-gradient(to right, #304ffe 0%, #16a2ff 20%, #16a2ff 100%); }

.testimonial-text-s3 span { color: #304ffe; }

.cta-s2::before { background: url(../images/shape-j.svg), linear-gradient(to right, #8207ff 0%, #304ffe 100%); background-size: 100%; background-repeat: no-repeat; }

.subscriber-s3::before { background: url(../images/shape-j.svg), linear-gradient(to right, #8207ff 0%, #304ffe 100%); background-repeat: no-repeat; background-size: 100%; }

.overlay-bar { background: linear-gradient(to right, rgba(41, 67, 216, 0.7) 0%, rgba(130, 7, 255, 0.7) 100%); }

.overlay-bar-1 { background: linear-gradient(to right, rgba(130, 7, 255, 0.7) 0%, rgba(48, 79, 254, 0.7) 100%); }

.login-s2::before { background: url(../images/shape-i.svg), linear-gradient(to right, #304ffe 0%, #8207ff 100%); background-repeat: no-repeat; background-size: 100%; background-position: 100% 100%; }
